.button {
  background: #ffffff;
  border-radius: 24px;
  justify-content: center;
  border: none;
  margin-right: 20px;
}
.button-basket {
  padding: 11px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
