.circle {
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 30px;

  &-gamburger {
    margin-left: 20px;
    width: 36px;
    height: 36px;
    background: rgba(255, 255, 255, 0.01);
    border: 2px solid rgba(255, 255, 255, 0.1);
  }

  &-basket {
    width: 24px;
    height: 24px;
    background: #012e41;
    margin-left: 19px;
  }
}
